<%#= <footer id="footer" class="sixteen columns" data-hook> %>
<footer id="footer" data-hook>
  <%#= TODO add a real footer here %>
  <p>©2017 Desert Rust.   |   Show Something Here   |   Another Info   |   Another Another Info   |   Contact Us </p>
</footer>
