<!--<figure id="logo" class="columns six" data-hook><%= logo %></figure>-->
<!--<%#= render :partial => 'spree/shared/nav_bar' %>-->
<!--<%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>-->

<header id="header" class="row" data-hook>
  <%= render :partial => 'spree/shared/nav_bar' %>
</header>