<%#= This file is injected by solidus_auth_devise-1.6.2/app/overrides/auth_shared_login_bar.rb:1 %>
<%#= I will keep the magic?... wow %>
<% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
