<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <% if spree_current_user %>
        <li id="link-to-cart" data-hook>
          <noscript>
            <%= link_to Spree.t(:cart), '/cart' %>
          </noscript>
          &nbsp;
        </li>
        <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
    <% end %>
  </ul>
</nav>
