<% if spree_current_user %>
    <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
    <%= form_tag spree.products_path, :method => :get do %>
        <% cache(cache_key_for_taxons) do %>
            <%= select_tag :taxon,
                           options_for_select([[Spree.t(:all_departments), '']] +
                                                  @taxons.map { |t| [t.name, t.id] },
                                              @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon' %>
        <% end %>
        <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search) %>
        <%= submit_tag Spree.t(:search), :name => nil %>
    <% end %>

<% end %>