<p>
  <%= f.label :email, Spree.t(:email) %><br />
  <%= f.email_field :email, class: 'title' %>
</p>

<p>
  <%# TODO: Create the correct form and add fields to spree_user model. %>
  <label>Why you want to join us?</label><br />
  <textarea placeholder="I am owner of a store that needs..." cols="50" rows="5" class="title"></textarea>
</p>
<div id="password-credentials">
  <p>
    <%= f.label :password, Spree.t(:password) %><br />
    <%= f.password_field :password, class: 'title' %>
  </p>

  <p>
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation, class: 'title' %>
  </p>
</div>

<div data-hook="signup_below_password_fields"></div>
